
/* education css */
#orange td, #orange tr,#orange th
{
    border: 1px solid #ff7b00;
    padding: 5px;
}
table
{
    margin: auto;
    margin-top: 20px;
    align-self: center;
}

.templates:hover .templates-hover
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}